<p id="notice"><%= notice %></p>

<p>
  <strong>Name of the artist:</strong>
  <%= @artist.name %>
  <%= link_to "[Delete artist]", artist_path(@artist.id), method: :delete, data: {confirm: "Are you sure?"} %>
</p>

<h4>Photo:</h4>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image.thumbnail %>
<% end %>

<h4>List of Songs:</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= song.name %></li>
      <%= link_to "[Delete song]", url_for([@artist, song]), method: :delete, data: {confirm: "Are you sure?"} %>
     <!-- <%= link_to "[Delete song]", artist_songs_path(@artist, song), method: :delete, data: {confirm: "Are you sure?"} %> -->

    <% end %>
  </ul>
<% else %>
  <p>There are no song belongs to this artist.</p>
<% end %>

<hr>

<%= link_to "[Add New Song]", new_artist_song_path(@artist) %>
